<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    @{var Page = new { Title = "" };}
    <title>@Page.Title</title>
    <!-- Tell the browser to be responsive to screen width -->
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">

    <environment names="Development,Staging,Production">
        <link rel="stylesheet" href="~/css/rdp.adminlte.css" asp-append-version="true" />
        <script src="~/js/rdp.adminlte.js" asp-append-version="true"></script>

        <link rel="stylesheet" href="~/Content/AdminLTE/dist/css/AdminLTE.min.css" asp-append-version="true" />
        <link rel="stylesheet" href="~/Content/AdminLTE/dist/css/skins/_all-skins.min.css" asp-append-version="true" />
    </environment>

    <style>
        body {background-color: #F4F4F4;}
    </style>
</head>
<body>
    <script>if (typeof (parent.$) != 'undefined' && typeof (parent.$.messager) != 'undefined') parent.$.messager.progress('close');</script>
    @RenderBody()
    <mini-profiler  max-traces="5" />
</body>
</html>


